<div class="case-text-container">
  <p
    [ngStyle]="{
      'font-family': caseText.font,
      fontSize: caseText.fontSize + 'px',
      margin: 0,
      transform: 'rotate(' + caseText.rotate + 'deg)'
    }"
    [hidden]="editingText?.id === caseText.id"
  >
    {{ caseText?.text }}
  </p>
  <mat-form-field [hidden]="editingText?.id !== caseText.id">
    <input
      #textInput
      matInput
      [value]="caseText.text"
      [ngStyle]="{ 'font-family': caseText.font }"
      (blur)="inputBlur($event)"
      (input)="textValueChanges($event, caseText)"
    />
  </mat-form-field>
</div>
