<div class="app-container" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex></div>
  <div class="case-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="phone-container">
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseBackground of caseBackgrounds$ | async"
        [ngStyle]="{ 'z-index': caseBackground.index }"
      >
        <img [src]="caseBackground.backgroundImgUrl" />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseText of caseTexts$ | async"
        cdkDragBoundary=".phone-container"
        [ngStyle]="{ 'z-index': caseText.index }"
      >
        <app-case-text [caseText]="caseText"></app-case-text>
      </div>
    </div>
  </div>
  <div fxFlex></div>
  <div class="case-editor-container">
    <app-case-editor></app-case-editor>
  </div>
</div>
