<div class="app-container" fxLayout="row" fxLayoutAlign="center center" fxHide fxShow.lg="true" fxShow.sm="false">
  <div fxFlex></div>
  <div class="case-container" fxLayout="row" fxLayoutAlign="center center">
    <div #phoneContainer fxLayout="column" fxLayoutAlign="center center" class="phone-container" [ngStyle]="{ 'background-color': 'rgba(' + casePalette.color + ',' + casePalette.opacity + ')' }">
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseBackground of caseBackgrounds$ | async"
        [ngStyle]="{ 'z-index': caseBackground.index }"
        [matMenuTriggerFor]="customPopover"
      >
        <img
          [src]="caseBackground.backgroundImgUrl"
          [ngStyle]="{
            width: caseBackground.width + 'px',
            height: caseBackground.height + 'px',
            transform: 'rotate(' + caseBackground.rotate + 'deg)'
          }"
          (click)="selectCaseBackground(caseBackground)"
        />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseSticker of caseStickers$ | async"
        [ngStyle]="{ 'z-index': caseSticker.index }"
        (click)="selectCaseSticker(caseSticker)"
        [matMenuTriggerFor]="customPopover"
      >
        <img
          [src]="caseSticker.path"
          [ngStyle]="{
            height: caseSticker.height + 'px',
            width: caseSticker.width + 'px',
            transform: 'rotate(' + caseSticker.rotate + 'deg)'
          }"
        />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseText of caseTexts$ | async"
        cdkDragBoundary=".phone-container"
        [ngStyle]="{ 'z-index': caseText.index }"
        (click)="selectCaseText(caseText)"
      >
        <app-case-text [caseText]="caseText"></app-case-text>
      </div>
    </div>
  </div>
  <div fxFlex class="download-container full-height">
    <button mat-mini-fab color="primary" class="download-button" (click)="downloadCase(phoneContainer)"><mat-icon>archive</mat-icon></button>
  </div>
  <div class="case-editor-container">
    <app-case-editor></app-case-editor>
  </div>
</div>
<div class="full-height" fxShow.sm="true" fxShow.lg="false">
  <app-case-container-mobile></app-case-container-mobile>
</div>
<mat-menu #customPopover="matMenu">
  <!-- <div fxLayout="row">
    <button mat-icon-button (click)="increaseSize()"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="decreaseSize()"><mat-icon>remove</mat-icon></button>
    <button mat-icon-button (click)="rotateLeft()"><mat-icon>rotate_left</mat-icon></button>
    <button mat-icon-button (click)="rotateRight()"><mat-icon>rotate_right</mat-icon></button>
  </div> -->
</mat-menu>
