.app-container {
  display: flex;
  place-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: black;

  .case-container {
    min-width: 350px;
    max-width: 350px;
    min-height: 736px;
    max-height: 736px;
    background: #fff;
  }
}
