<div class="app-container" fxLayout="row" fxLayoutAlign="center center" fxHide fxShow.lg="true" fxShow.sm="false">
  <div fxFlex></div>
  <div class="case-container" fxLayout="row" fxLayoutAlign="center center">
    <div class="phone-container" [ngStyle]="{ 'background-color': 'rgba(' + casePalette.color + ',' + casePalette.opacity + ')' }">
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseBackground of caseBackgrounds$ | async"
        [ngStyle]="{ 'z-index': caseBackground.index }"
      >
        <img
          [src]="caseBackground.backgroundImgUrl"
          [ngStyle]="{
            width: caseBackground.width + 'px',
            height: caseBackground.height + 'px',
            transform: 'rotate(' + caseBackground.rotate + 'deg)'
          }"
          (click)="selectCaseBackground(caseBackground)"
        />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseSticker of caseStickers$ | async"
        [ngStyle]="{ 'z-index': caseSticker.index }"
        (click)="selectCaseSticker(caseSticker)"
      >
        <img
          [src]="caseSticker.path"
          [ngStyle]="{
            height: caseSticker.height + 'px',
            width: caseSticker.width + 'px',
            transform: 'rotate(' + caseSticker.rotate + 'deg)'
          }"
        />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseText of caseTexts$ | async"
        cdkDragBoundary=".phone-container"
        [ngStyle]="{ 'z-index': caseText.index }"
        (click)="selectCaseText(caseText)"
      >
        <app-case-text [caseText]="caseText"></app-case-text>
      </div>
    </div>
  </div>
  <div fxFlex></div>
  <div class="case-editor-container">
    <app-case-editor></app-case-editor>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" fxShow.sm="true" fxShow.lg="false" class="phone-case-mobile-container">
  <div
    class="phone-case-mobile"
    fxFlex="100"
    [ngStyle]="{ 'background-color': 'rgba(' + casePalette.color + ',' + casePalette.opacity + ')' }"
  >
    <div class="case-actions" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button mat-icon-button>
        <mat-icon>smartphone</mat-icon>
      </button>
      <button mat-icon-button (click)="openPaletteSheet()">
        <mat-icon>palette</mat-icon>
      </button>
      <button mat-icon-button (click)="fileInput.click()">
        <mat-icon>wallpaper</mat-icon>
      </button>
      <button mat-icon-button (click)="addNewText()">
        <mat-icon>text_fields</mat-icon>
      </button>
      <button mat-icon-button (click)="openStickersSheet()">
        <mat-icon>tag_faces</mat-icon>
      </button>
      <input hidden type="file" accept="image/*" #fileInput (change)="selectedBackgroundFile(fileInput.files)" />
    </div>
    <div fxFlex="100" class="components-container" fxLayout="column" fxLayoutAlign="center center">
      <div
        #backgroundElement
        cdkDrag
        class="draggable-item"
        *ngFor="let caseBackground of caseBackgrounds$ | async"
        [ngStyle]="{ 'z-index': caseBackground.index }"
      >
        <img
          [src]="caseBackground.backgroundImgUrl"
          [ngStyle]="{
            width: caseBackground.width + 'px',
            height: caseBackground.height + 'px',
            transform: 'rotate(' + caseBackground.rotate + 'deg)'
          }"
          (click)="selectCaseBackground(caseBackground)"
        />
      </div>
      <div
        cdkDrag
        class="draggable-item"
        *ngFor="let caseSticker of caseStickers$ | async"
        #stickerElement
        [ngStyle]="{ 'z-index': caseSticker.index }"
        (click)="selectCaseSticker(caseSticker)"
      >
        <img
          [src]="caseSticker.path"
          [ngStyle]="{
            height: caseSticker.height + 'px',
            width: caseSticker.width + 'px',
            transform: 'rotate(' + caseSticker.rotate + 'deg)'
          }"
        />
      </div>
      <div
        #textElement
        cdkDrag
        class="draggable-item"
        *ngFor="let caseText of caseTexts$ | async"
        cdkDragBoundary=".phone-container"
        [ngStyle]="{ 'z-index': caseText.index }"
        (click)="updateCaseText(caseText)"
      >
        <app-case-text [caseText]="caseText"></app-case-text>
      </div>
    </div>
  </div>
</div>
